.mobile-navbar {

  height: 100%;
  position: fixed;
  top: 70px;
  left: 0;
  width: 50%;
  background: rgba(0,0,0,0.9);
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  z-index: 20;
}

.mobile-navbar ul {
  height: 80%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobile-navbar a {
  text-decoration: none;
  color: white;
}


.mobile-navbar li {
  padding: 10px;
}

.mobile-navbar a:focus {
  color: grey;
}

.mobile-navbar.open {
  transform: translateX(0);


}
@media (min-width: 769px) {
  .mobile-navbar {
    display: none;
  }
}
