.toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  color: #fff;
  border: none;
  width: 28px;
  height: 30px;
  outline: none;
  padding: 5px;
  margin-top: 20px;
  cursor: pointer;
  box-sizing: border-box;
}


.toggle:focus {
  outline: none;
}

.toggle-button_line {
content: '';
background-color: #fff;
height: 2px;
width: 28px;
border-radius: 4px;
transition: all ease-in-out 0.3s;
}

.buttonClose .toggle-button_line{
  background-color: yellow;


}
