.App {
  text-align: center;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  font-family: 'Amatic SC';
  text-align: center;
  font-size: 30pt;
  background-color: #fff;
  color: #333;
  padding-top: 80px;
  height: 100%;
}

 h3{
  font-family: 'Amatic SC';
  font-size: 30pt;
  line-height: 100%;
  display: block;
  margin: 0;
}

h4 {
  font-family: 'Amatic SC';
  font-size: 40pt
}
h5 {
  font-family: 'Amatic SC';
  font-size: 20pt;
  margin: 0;
  display: inline;

}
h6 {
  font-family: 'Amatic SC';
  font-size: 30pt;
  display: inline;

}

.container {
 margin-top: 20px;
 padding: 1rem;
 width: stretch;
 height: auto;
 display: none;
 text-align: center;
 align-items: center;
}
@media (max-width: 768px){
  body {
    padding-top: 50px;
  }
}
